@use '../abstracts/' as  *;

@media (min-width: 768px) {
  .container {
    @include flexCenter(column);
  }
  header {
    position: fixed;
    top: 0;

    h1 {
      font-size: 3rem;
    }
  }
  main {
    width: 70%;
    // margin: 5rem auto;
    padding: 2rem;

    section {
      width: 90%;

      .text {
        h2 {
          font-size: 1.2rem;
        }
      }

      .para {
        &.active {
          min-height: 150px;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
